<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Real Time Chat</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/chatStyles.css">
  <link rel="stylesheet" href="/css/bootstap.min.css">
  <link rel="stylesheet" href="/css/generalStyles.css">
  <link rel="stylesheet" href="/css/media.css">
  <body>
    <header>
      <h1>Chat Room Project</h1>
    </header>
    