<%- include('partials/header'); -%>

<div class="whole-container shadow-2">
    <img src="images/friendsIcon.jpg" alt="View Entered Users Click Icon" id="view-users-entered" class="user-profile-img">
    <div class="user-display">
        <h2>Users Entered <hr class="special-underline"></h2>
        <div class="users">
            <!--
            <div class="user-item">
                <img src="images/avatar.png" alt="user-img">
                <h2>Username</h2>
            </div>
            <div class="user-item">
                <img src="images/avatar.png" alt="user-img">
                <h2>Username</h2>
            </div>-->
        </div>  
    </div>
    <div class="chat-room">
        <div class="chat-box">
            <div class="chat">
                <!--
                    ORIGINAL TEMPLATE OF OTHER USER AND CURRENT USER MESSAGES
                    <div class="box radius-10px other-user margin-left-right-15px">
                        <img src="images/avatar.png" alt="user-img">
                        <div class="detail-container">
                            <span class="username">Username</span> 
                            <span class="time">date at 11:00 am</span>
                        </div>
                        <p class="message">
                            Hey how's it going bro
                        </p>
                    </div>
                    <div class="box radius-10px current-user margin-left-right-15px">
                        <img src="images/avatar.png" alt="user-img">
                        <div class="detail-container">
                            <span class="username">Username</span> 
                            <span class="time">date at 11:00 am</span>
                        </div> 
                        <p class="message">
                            This is a text chat box for This app that I'm just making out of random lol
                        </p>   
                    </div>
                -->
            </div>
            <form action="" class="send-message-form margin-left-right-15px" id="chat-form">
                <textarea name="" placeholder="Enter to Send" id="msg" cols="100" rows="1" class="radius-10px"></textarea>
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer'); -%>